<header>

    <% if (typeof errors != 'undefined') { %>
        <%- include('./toastr') %>
    <% } %>   

    <div class="login-logo__container d-flex align-items-baseline fs-3 p-2">
        <div class="login-logo__icon 
            d-flex justify-content-center align-items-center
            p-2 rounded-circle text-light bg-success">.inv</div>
        <div class="login-logo__title ms-2 text-light">Inventario</div>
    </div>
    <div class="login-container" id="login-container">
        <form action="/login" id="login-form" method="POST">
            <div class="container w-50 mt-3 mb-3 d-flex justify-content-center">
                <i class="fas fa-user-circle text-light" id="form-logo"></i>
            </div>
            <div class="row justify-content-center">
                <div class="mb-3 col-5 col-sm-4 col-md-4 col-lg-3">
                    <input type="text" class="form-control" name="username" id="login-form__username" 
                        placeholder="Nombre de Usuario" autofocus autocomplete="off" 
                        minlength="3" maxlength="50" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mb-3 col-5 col-sm-4 col-md-4 col-lg-3">
                    <input type="password" class="form-control" name="password" id="login-form__password" 
                        placeholder="Contraseña" autocomplete="off" minlength="8" 
                        maxlength="50" required>
                </div>
            </div>
            <div class="container d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" id="login-form__access">Ingresar</button>
            </div>
            <div class="mb-2"></div>
            <div class="container col-4 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center">
                <div id="login-form__register" class="form-text p-2 rounded bg-light">Si aún no te Registraste, hacé clic
                    <a href="/register" id="login-form__register-link" class="text-decoration-none">
                        aquí
                    </a>
                </div>
            </div>
        </form>
    </div>
</header>