<header>

    <%- include('../partials/toastr.ejs') %>

    <div class="register-container container mt-5" id="register-container">
        <div class="d-flex justify-content-center align-items-center"></div>
        <form action="/register" id="register-form" method="POST">
            <div class="container w-50 mt-3 mb-3 d-flex justify-content-center">
                <i class="fas fa-user-circle text-light" id="form-logo"></i>
            </div>
            <input type="file" name="logo" id="register-form__logo-input" class="d-none">
            <div class="row justify-content-center">
                <div class="mb-3 col-5 col-sm-4 col-md-4 col-lg-3">
                    <input type="text" class="form-control" name="name" id="register-form__name" 
                        placeholder="Nombre" autocomplete="off" minlength="2" maxlength="50" 
                        required autofocus>
                </div>
                <div class="mb-3 col-5 col-sm-4 col-md-4 col-lg-3">
                    <input type="text" class="form-control" name="surname" id="register-form__surname" 
                        placeholder="Apellido" autocomplete="off" minlength="2" maxlength="50" 
                        required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mb-3 col-10 col-sm-8 col-md-8 col-lg-6">
                    <input type="email" class="form-control" name="email" id="register-form__email" 
                        placeholder="Email" autocomplete="off" minlength="7" 
                        maxlength="150" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mb-3 col-5 col-sm-4 col-md-4 col-lg-3">
                    <input type="text" class="form-control" name="username" id="register-form__username" 
                        placeholder="Nombre de Usuario" autocomplete="off" 
                        minlength="3" maxlength="50" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mb-3 col-5 col-sm-4 col-md-4 col-lg-3">
                    <input type="password" class="form-control" name="password" id="register-form__password" 
                        placeholder="Contraseña" autocomplete="off" minlength="8" 
                        maxlength="50" required>
                </div>
            </div>
    </div>
            <div class="container col-8 col-sm-8 col-md-8 col-lg-6 d-flex justify-content-center">
                <div id="register-form__terms" class="form-text p-2 rounded bg-light">
                    Al hacer clic en Ingresar, está aceptando nuestro
                    Acuerdo de Suscripción y nuestra Política de Privacidad
                </div>
            </div>
            <div class="mb-3"></div>
            <div class="container d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" id="register-form__access">Ingresar</button>
            </div>
        </form>
        </div>
    </div>
</header>
<body class="overflow-hidden">
</body>