<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <!-- <span class="navbar-brand">Inventario</span> -->
    <div class="d-flex align-items-baseline fs-5 p-2">
      <div class="d-flex justify-content-center align-items-center
          p-2 rounded-circle text-white bg-success">.inv</div>
      <div class="ms-2 text-white">Inventario</div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto m-2">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar">
        </form>
        <li class="nav-item">
          <a class="nav-link mt-1" href="#"><i class="text-white fs-4 fas fa-trash-alt"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <div class="d-flex align-items-center text-white fs-5">
              <div class="logo-item rounded-circle bg-success"></div>
              <div> Username </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mt-1" href="/logout"><i class="text-white fs-4 fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>