<%- include('./partials/background.ejs') %>
<%- include('./partials/toastr.ejs') %>
<%- include('./partials/navbar.ejs') %>

<a href="/products/1">
  <div class="card w-25 bg-success m-5 text-center">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title text-white">Productos</h5>
    </div>
  </div>
</a>