<%- include('./partials/background.ejs') %>
<%- include('./partials/toastr.ejs') %>
<%- include('./partials/navbar.ejs') %>

<a href="/products/1">
  <div class="dashboard-products card m-5 bg-primary text-center">
    <div class="m-1 mt-3"><i class="text-white fas fa-boxes"></i></div>
    <div class="card-body">
      <h5 class="card-title text-white">Productos</h5>
    </div>
  </div>
</a>