/* Estilos para Formularios */

#form-logo {
  font-size: 8em;
}

#login-form__register-link {
  color: unset;
}

#login-form__register-link:hover {
  cursor: pointer;
  color: blue;
}

.logo-item {
  height: 1.5em;
  width: 1.5em;
  margin-right: .5em;
}

.total-price {
  color: darkmagenta;
}
