/* Estilos para segmentos especificos del Layout */

.login-container, .register-container {
  background-image: url(/static/assets/images/books.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.login-logo__container, .menu-login-logo__container,
#login-form, #am-product, #amd-product #menu-login, .menu-login__body, 
.product__container, .product-desktop__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo__container {
    flex-direction: row;
    font-size: 24px;
    padding: 1em;
}

.login-img, .menu-login__img, .login-logo__icon, .menu-login-logo__icon,
.desktop-menu__icon {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.fa-user-circle {
    font-size: 9em;
}

.login-logo__icon, .desktop-menu__icon {
    width: 50px;
    height: 50px;
    margin-right: .5em;
    font-weight: bold;
}

.login-logo__title {
    color: white;
}

#login-form__username, #login-form__password,
#am-product__description, #am-product__quantity, #am-product__unit-price,
#amd-product__description, #amd-product__quantity, #amd-product__unit-price {
    margin: 1.2em;
}

[id*="register-form__"] {
    margin: .8em;
}

.login-img {
    margin: 1em 0 1.5em 0;
}

#login-form__username, #login-form__password {
    caret-color: white;
    color: white;
}

#login-form__username:focus, #login-form__password:focus, #dashboard-search,
#am-product__description:focus, #am-product__quantity:focus, 
#am-product__unit-price:focus,
#desktop-search:focus,
#amd-product__description:focus, #amd-product__quantity:focus, 
#amd-product__unit-price:focus {
    outline: none;
}

#login-form__username, #login-form__password,
[id*="register-form__"],
#am-product__description, #am-product__quantity, #am-product__unit-price,
#amd-product__description, #amd-product__quantity, #amd-product__unit-price {
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 1.2em;
}

#login-form__username::placeholder, #login-form__password::placeholder {
    color: white;
}

#login-form__access, #am-product__save, #amd-product__save {
    margin-top: 2em;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
    border: none;
    background-color: blue;
    color: white;
}

#menu-login {
    width: 100vw;
    height: 100vh;
    font-size: 1.3em;
    background-color:darkslategray;
    position: absolute;
    left: 0vw;
}

.slide-in {
    animation: slide-in 2s ease;
}

@keyframes slide-in {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}

.slide-out {
    animation: slide-out 2s ease;
}

@keyframes slide-out {
    from {
        left: 0vw;
    }
    to {
        left: -100vw;
    }
}

.menu-login-logo__container {
    flex-direction: row;
}


.menu-login-logo__icon{
    width: 30px;
    height: 30px;
    margin-right: .5em;
    font-size: 18px;
}

.menu-login__title {
    display: flex;
    padding: .6em;
    margin-bottom: .5em;
    color: white;
    border-bottom: white 1px solid;
}

.menu-login__close {
    margin-left: auto;
}

.menu-login__img, .menu-login__body {
    margin: 1.5em 0 1.5em 30%; 
}

.menu-login__img {
    width: 100px;
    height: 100px;
}

.login-img__icon {
    font-size: 4em;
}

.menu-login__body {
    align-items: flex-start;
    color: white;
}

.menu-login__username {
    font-weight: bold;
}

.menu-login__username, .menu-login__delete-account, .menu-login__logout {
    margin-bottom: .5em;
}

#main-menu__container, #desktop-menu__container {
    position: fixed;
    background-color: white;
}

.main-menu, .desktop-menu {
    width: 100vw;
    display: flex;
    list-style: none;
    padding: .75em;
    background-color: rgb(26, 133, 133);
    color: white;
    margin-bottom: .5em;
    font-size: 1.3em;
}

.main-menu__title {
    margin-right: auto;
    padding-left: .75em;
}

.main-menu__add {
    padding-right: .75em;
}

.main-menu__delete {
    padding-right: 1.4em;
}

#am-product__description::placeholder, #am-product__quantity::placeholder, #am-product__unit-price::placeholder,
#amd-product__description::placeholder, #amd-product__quantity::placeholder, #amd-product__unit-price::placeholder {
    color: rgb(26, 133, 133);
}

.am-product__container {
    margin-top: 5em;
}

#am-product__description, #am-product__quantity, #am-product__unit-price,
#amd-product__description, #amd-product__quantity, #amd-product__unit-price {
    border-bottom: 1px solid rgb(26, 133, 133);
    caret-color: rgb(26, 133, 133);
    color: rgb(26, 133, 133);
}

.am-product__img, .amd-product__img {
    width: 80%;
    height: 150px;
    background-color: grey;
    margin-top: 2em;
}

#dashboard {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
}

#dashboard::-webkit-scrollbar {
    display: none;
}

.product__container, .product-desktop__container {
    width: 100vw;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: black 1px solid;
}

.product__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: darkmagenta;
    margin-left: .5em;
}

.product-description__container {
    margin-bottom: .3em;
}

.product__description {
    width: 12em;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: .1em;
}

.product__quantity, .product-desktop__quantity {
    background-color: green;
    color: white;
    font-size: .9em;
    margin-bottom: .1em;
}

.product__unit-price {
    color: darkblue;
    font-weight: bold;
    font-size: .9em;
}

#product__delete-item, #product-desktop__delete-item, #desktop-menu__add {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: red;
    font-weight: bold;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: .25em;
}

footer {
    margin-top: auto;
    background-color: gray;
    height: 2.7em;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.border-red {
    outline-style: solid;
    outline-color: red;
}
