/* Estilos para resetear el CSS, colores y estilos minimos  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow-y: hidden; */
    /* height: 100%; */
}

#menu-login, #dashboard, #dashboard-desktop, 
#main-menu__container, #desktop-menu__container,
.am-product__container, #menu-desktop, #openModal,
footer {
    display: none;
}

#login-submit:hover,
.main-menu__icon, .main-menu__add, .main-menu__delete, .desktop-menu__delete
.product__img, .product-description__container, #product__delete-item,
.menu-login__close, .menu-login__delete-account, .menu-login__logout,
#am-product__save, #amd-product__save, #product-desktop__delete-item, .product-desktop__description,
#desktop-menu__add, #desktop-menu__delete, #desktop-menu__username {
    cursor: pointer;
}
