/* Estilos para resetear el CSS, colores y estilos minimos  */

body {
    background-image: url(/static/assets/images/books.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}