<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header bg-success text-white">
      <h5 class="modal-title" id="editProductLabel">Modificar Producto</h5>
      <button type="button" class="btn-close" 
        data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Descripción" autofocus>
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" placeholder="Cantidad">
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" placeholder="Precio Unitario">
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-info">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>