<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header bg-warning">
      <h5 class="modal-title" id="trashProductLabel">Eliminar Todo</h5>
      <button type="button" class="btn-close" 
        data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      ¿Desea eliminar TODOS los productos?
    </div>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-info">Aceptar</button>
    </div>
  </div>
</div>